* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;

    --bg-gradient: linear-gradient(74.13deg, #000533 -16.93%, #041DFF 151.44%);
    --bg-dark: #000646;

    --bg-secundary: #EFB810;
    --bg-secundary-blue: #222B8D;
    --bg-secundary-blue-hover: #0D177B;
    --bg-secundary-hover: #d7a40a;

    --txt-dark: #000646;
    --txt-white: #FFFFFF;
}

.hide {
    display: none !important;
}

img {
    font-size: 5px;
}

body {
    background: var(--bg-gradient);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

body,
button {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--txt-dark);
}

.logo {
    width: 49rem;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14.5rem;
}

.background-strip {
    position: absolute;
    width: 39.5rem;
    height: 100vh;
    top: 0;
    background: var(--bg-dark);
    z-index: -30;
}

.container-menu button {
    border-radius: 9999px;
    padding: 1.5rem 6rem;
    font-weight: 800;
    font-size: 6rem;
    color: var(--txt-dark);
    background-color: var(--bg-secundary);
    transition: background .3s;
    cursor: pointer;
}

.btnGivepY,
.btnGivepN,
.refresh {
    border-radius: 9999px;
    padding: 1.5rem 6rem;
    font-weight: 800;
    font-size: 6rem;
    color: var(--txt-dark);
    background-color: var(--bg-secundary);
    transition: background .3s;
    border: none;
    cursor: pointer;
}

.btnGivepY {
    background-color: var(--bg-dark);
    color: var(--txt-white);
    margin-bottom: 2rem;
}

.btnGivepY:hover {
    background-color: var(--bg-secundary-blue);
}


button:hover {
    background-color: var(--bg-secundary-hover);
}

.container-game {
    display: flex;
    flex-direction: row;
    animation: slide-up .5s;
}


/* LEFT */

.container-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-left .logo {
    margin-left: -15rem;
}

.container-left .background-strip {
    left: 9rem;
}

.title {
    width: 21rem;
    height: 6.5rem;
    color: var(--txt-dark);
    border-radius: 2rem;
    background: var(--bg-secundary);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-question {
    position: relative;
    background-color: var(--bg-secundary);
    width: clamp(20rem, 10rem + 30vw, 60rem);
    border-radius: 2rem;
    margin: 1.3rem 0;
}

.question-description {
    padding: 3rem;
    color: var(--txt-white);
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.6rem;
}

.container-alternatives {
    width: clamp(20rem, 10rem + 30vw, 60rem);
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.alternative {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: var(--bg-secundary);
    height: 5.6rem;
    color: var(--txt-white);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.6rem;
    cursor: pointer;
    border: none;

    transition: background .3s;
}

.alternative:hover {
    background-color: var(--bg-secundary-hover);
}

.alternative span {
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-dark);
    box-shadow: 4px 0px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
    font-size: 3rem;

    margin-right: 1.6rem;
}

.rightAnswer {
    background-color: green;
    animation: twinkle .8s infinite ease;
    transition: background .8s;
}

@keyframes twinkle {
    0% {
        background-color: green;
    }

    50% {
        background-color: var(--bg-secundary);
    }

    100% {
        background-color: green;
    }
}

/* RIGHT */

.container-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container-money {
    height: 6.5rem;
    width: clamp(20rem, 10rem + 30vw, 60rem);
    border-radius: 9999px;
    background-color: var(--bg-secundary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.container-right .title {
    border-radius: 9999px;
}

.container-helps {
    display: flex;
    gap: 5.7rem;
    flex-direction: column;
    width: clamp(20rem, 10rem + 30vw, 60rem);
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secundary-blue-hover);
    border-radius: 2rem;
    height: 50rem;
}

.help {
    width: clamp(18rem, 8rem + 28vw, 55rem);
    height: 5.2rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: var(--txt-white);

    font-weight: 700;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: #222B8D;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.25);
    transition: background .3s;
}

.help:hover {
    background-color: var(--bg-secundary-blue-hover);
}

.help span {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-dark);
    box-shadow: -4px 0px 8px -1px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-secundary);
    border-radius: 9999px;
    font-size: 3rem;

    margin-right: -2rem;
}

.helps {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    cursor: pointer;
}

#btn-giveup {
    color: red;
}

@media (max-width: 1270px) {
    .container-left .logo {
        transform: scale(.8);
        margin-left: 0;
    }
}

/* MODAL */

.container-modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    background: rgba(35, 35, 35, 0.53);
    display: grid;
    place-items: center;
    animation: opacity .3s;
}

.modal-card {
    height: 45rem;
    width: 89rem;
    background-color: var(--bg-secundary-blue-hover);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 2rem;
    animation: slide-up .3s;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform ease .2s;
}

.btn-close:hover {
    background-color: transparent;
    transform: rotate(180deg);
}

.container-content {
    color: var(--txt-white);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    height: 100%;
    font-size: 5rem;
    font-weight: 800;
}

.container-content span {
    display: flex;
    align-items: center;

    color: var(--bg-secundary);
    margin: 1.5rem;
}

.container-person-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.container-parent-hint {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.person-card {
    height: 6rem;
    width: 6rem;
    position: relative;
    background-color: var(--bg-dark);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-card svg {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.person-card p {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.card {
    width: 15rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-secundary);
    border-radius: 1rem;
    background-color: var(--bg-dark);
    cursor: pointer;
    transition: all .8s;
}

.flip {
    transform: rotateY(180deg);
}

.flip p {
    transform: rotateY(180deg);
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: space-around;
}

.flip p span {
    text-align: center;
    font-size: 8rem;
}

@keyframes slide-up {
    from {
        opacity: 0;
        margin-bottom: -90vh;
        transform: scale(.1)
    }

    to {
        opacity: 1;
        position: 0px;
        margin-bottom: 0;
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}